page-item-details {
    .ios, .md {
        page-home {
            button {
                align-items: baseline;
            }
        }
    }

    .ionic .item-text-wrap { /* negate the nowrap CSS from .ionic .item */
        overflow: visible;
        text-overflow: initial;
        white-space: initial;
    }

    ion-input, ion-select, ion-textarea {
        background-color: #e8e5e5; 
        border-radius: 5px;
        border: 1px solid rgba(100, 99, 99, 0.4);
        padding: 3px 3px;        
    }    
}
