<ion-header>
  <ion-navbar color="custom-color">
    <!--<button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>{{ selectedItem.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Actualizando ...">
    </ion-refresher-content>
  </ion-refresher>
    
  <ion-card *ngIf="ideaLoaded">
    <ion-item text-wrap>
      <ion-avatar item-start>
        <img *ngIf="selectedItem.author_pic" [src]="selectedItem.author_pic">
        <img *ngIf="!selectedItem.author_pic" src='assets/img/blank_profile.png'>
      </ion-avatar>
      <h2>{{ selectedItem.title }}</h2>
      <h3>{{ selectedItem.author }}</h3>      
      <!-- <p>{{ selectedItem.date }}</p> -->
      <button *ngIf="selectedItem.author_id == (user_id | async)" clear ion-button icon-only (click)="presentIdeaPopover($event)" item-end>
      <!-- <button clear ion-button icon-only (click)="presentIdeaPopover($event)" item-end> -->
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-item>

    <ion-card-content>
      <p>{{ selectedItem.description }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button *ngIf="selectedItem.voted_up != 1" ion-button color="light-gray" clear small icon-left (click)="voteUp(selectedItem)">
          <ion-icon name='thumbs-up'></ion-icon>
          {{ selectedItem.votes_up }}
        </button>
        <button *ngIf="selectedItem.voted_up == 1" ion-button color="custom-color" clear small icon-left (click)="deleteVoteUp(selectedItem)">
          <ion-icon name='thumbs-up'></ion-icon>
          {{ selectedItem.votes_up }}
        </button>          
      </ion-col>
      <ion-col>
        <button *ngIf="selectedItem.voted_down != 1" ion-button color="light-gray" clear small icon-left (click)="voteDown(selectedItem)">
          <ion-icon name='thumbs-down'></ion-icon>
          {{ selectedItem.votes_down }}
        </button>
        <button *ngIf="selectedItem.voted_down == 1" ion-button color="custom-color" clear small icon-left (click)="deleteVoteDown(selectedItem)">
          <ion-icon name='thumbs-down'></ion-icon>
          {{ selectedItem.votes_down }}
        </button> 
      </ion-col>      
      <ion-col>
        <button ion-button color="light-gray" clear small icon-left>
            <ion-icon name='text'></ion-icon>
            {{ comments.length }}
          </button>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <div *ngIf="!finishLoading" class="spinner-container">
      <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-list *ngIf="comments.length > 0 && commentLoaded && finishLoading">  
    <ion-label style="text-align:center;">Comentarios</ion-label>
    <button detail-none *ngFor="let item of comments" (click)="expandItem(item)" ion-item>
      <ion-avatar item-start>
        <img *ngIf="item.author_pic" [src]="item.author_pic">
        <img *ngIf="!item.author_pic" src='assets/img/blank_profile.png'>
      </ion-avatar>      
      <h2>{{ item.author }}</h2>        
      
      <button *ngIf="item.author_id == (user_id | async)" clear ion-button icon-only (click)="presentCommentPopover($event, item)" item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
      
      <p *ngIf="!item.expanded">{{ item.description }}</p>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded" text-wrap>
        <p> {{ item.description }} </p>
      </expandable>
    </button>    
  </ion-list>
</ion-content>

<ion-footer style="clear: both">
  <ion-grid>
    <ion-row align-items-end>
      <ion-col col-10>
        <ion-textarea autosize="100" type="text" placeholder="Escribe un comentario" [(ngModel)]="comment"></ion-textarea>
      </ion-col>
      <ion-col col-2 align-self-center>
        <button  ion-button icon-only color="custom-color" type="button" item-right (click)="createComment()" *ngIf="comment.length > 0">
          <ion-icon ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-footer> 
