<flash></flash>
<ion-menu [content]="content" [swipeEnabled]=true>

  <ion-content class="side-menu-gradient">
    <div class="profile-image"> 
      <img *ngIf="account.author_pic" [src]="account.author_pic">
      <img *ngIf="!account.author_pic" src='assets/img/blank_profile.png'>
      <h2 style="text-align: center; color: white;"> {{ account.name }} </h2>
      <h3 style="text-align: center; color: white; font-size: 1.2rem;"> {{ account.email }} </h3>
    </div>
    <ion-list no-lines>

      <button ion-item class="side-menu-item" (click)="openPage(myProfile)">
        <ion-icon name="person" item-start></ion-icon>
          Mi Perfil
      </button>

      <button ion-item class="side-menu-item" (click)="logOut()">
        <ion-icon name="exit" item-start></ion-icon>
          Salir
      </button>        
    </ion-list>
  </ion-content>

</ion-menu> 

<ion-nav [root]="rootPage" [rootParams]="rootParams" #content></ion-nav>
