<ion-header>
    
      <ion-navbar color="custom-color">
        <ion-title>Editar Idea</ion-title>
        <ion-buttons start>
          <button ion-button (click)="cancel()">
            <span color="primary" showWhen="ios">
              Cancelar
            </span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons end>
          <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
            <span color="primary" showWhen="ios">
              Aceptar
            </span>
            <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
          </button>
        </ion-buttons>    
      </ion-navbar>
    
    </ion-header>
    
    <ion-content padding>
      <form *ngIf="form" [formGroup]="form" >    
        <ion-list>
          <ion-item>
            <ion-label floating> Título </ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label floating> Descripción </ion-label>
            <ion-textarea autosize="200" type="text" formControlName="description"></ion-textarea>
          </ion-item>
    
          <ion-item>        
            <ion-label> Lugar </ion-label>        
            <ion-select formControlName="location_id" cancelText="Cancelar">         
              <ion-option *ngFor="let location of locations" value="{{ location.id }}">
                  {{ location.name }}
              </ion-option>                                                                                          
            </ion-select>
          </ion-item>
    
          <ion-item>            
            <button ion-button color="custom-color" clear (click)="getCurrentLocation()">
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
              &nbsp;Usar mi ubicación actual 
            </button>
          </ion-item>
        </ion-list>
      </form>
    </ion-content>