<ion-header>   
  <flash></flash>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" [showCancelButton]="true" placeholder="Buscar"></ion-searchbar>  
</ion-header>
  
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-label style="text-align: center; color: gray" *ngIf="ideas.length == 0">Desliza hacia abajo para actualizar</ion-label>
    
  <ion-card *ngFor="let item of ideas">
    <ion-item>
      <ion-avatar item-start>        
        <img *ngIf="item.author_pic" [src]="item.author_pic">
        <img *ngIf="!item.author_pic" src='assets/img/blank_profile.png'>
      </ion-avatar>
      <h2>{{ item.title }}</h2>
      <h3>{{ item.author }}</h3>   
      <button *ngIf="item.author_id == (user_id | async)" clear ion-button icon-only (click)="presentIdeaPopover($event, item)" item-end>
        <ion-icon name="md-more"></ion-icon>
      </button> 
    </ion-item>

    <ion-card-content (click)="itemTapped($event, item)">
      <p *ngIf="item.description">{{ item.description | slice:0:250 }}{{item.description.length > 250 ? '...' : ''}}</p>
      <p *ngIf="!item.description">Esta idea no tiene descripción</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button *ngIf="item.voted_up != 1" ion-button color="light-gray" clear small icon-left (click)="voteUp(item)">
          <ion-icon name='thumbs-up'></ion-icon>
          {{ item.votes_up }}
        </button>
        <button *ngIf="item.voted_up == 1" ion-button color="custom-color" clear small icon-left (click)="deleteVoteUp(item)">
          <ion-icon name='thumbs-up'></ion-icon>
          {{ item.votes_up }}
        </button>        
      </ion-col>
      <ion-col>
        <button *ngIf="item.voted_down != 1" ion-button color="light-gray" clear small icon-left (click)="voteDown(item)">
          <ion-icon name='thumbs-down'></ion-icon>
          {{ item.votes_down }}
        </button>
        <button *ngIf="item.voted_down == 1" ion-button color="custom-color" clear small icon-left (click)="deleteVoteDown(item)">
          <ion-icon name='thumbs-down'></ion-icon>
          {{ item.votes_down }}
        </button>        
      </ion-col>      
      <ion-col>
        <button ion-button color="light-gray" clear small icon-left (click)="itemTapped($event, item)">
          <ion-icon name='text'></ion-icon>
          {{ item.comments }}
        </button>
      </ion-col>
      <!--<ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>-->
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
          {{ item.location }}
        </ion-label>
      </ion-col>
    </ion-row> 
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles" 
      loadingText="Cargando Ideas ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
    <button ion-fab color="custom-color" (click)="addItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>